@model IEnumerable<MotherDishModel>

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td><img src="@item.Image" width="50" /></td>
            <td>@item.DishName</td>

            <td class="center">
                @*<a class="btn btn-primary btn-xs BtnGetAppointmentDetails" href="javascript:void(0)" data-bookingid="@item.id" data-original-title="Edit"
                   data-toggle="tooltip"><i class="fas fa-edit"></i></a>*@

                <a data-dishid="@item.Id"
                   class="btn btn-danger btn-xs DeleteDish" href="javascript:void(0);" data-original-title="Remove" data-toggle="tooltip">
                    <i class="fa fa-times"></i>
                </a>

                @*<a data-bookingid="@item.id" id="BookingData_@item.id"
                   class="btn btn-danger btn-xs GetAssignedDetails" data-toggle="modal" data-assignedto="@item.AssignedTo"
                   data-target="#AssignBookingModal" href="javascript:void(0);" data-original-title="Assign Booking">
                    Assign
                </a>*@
            </td>
        </tr>
    }
}
else
{
    <tr class="odd gradeX">
        <td colspan="2">No Record Found</td>
    </tr>
}
