@model ResetPassword
@{
    ViewBag.Title = "Administration Login";
    Layout = "~/Areas/Admin/Views/Shared/_beforeLoginAdminLayout.cshtml";
}
<div id="cl-wrapper" class="login-container">

    <div class="middle-login">
        <div class="block-flat">
            <div class="header">
                <h3 class="text-center"><a href="/"><img class="logo-img" src="~/Content/images/logo.png" alt="logo" /></a></h3>
            </div>
            <div>
                @if (Model.Status == (int)AccountToken.Valid)
                {
                <form style="margin-bottom: 0 !important;" class="form-horizontal" id="loginForm">
                    <div class="content">
                        <h4 class="title">Reset Password</h4>
                        @Html.Partial("_FunctionCallMessage")
                        @Html.HiddenFor(x => x.Code)
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    @Html.PasswordFor(x => x.NewPassword, new { @required = true, @class = "form-control", @placeholder = "Password" })
                                </div>
                                <div id="email-error">@Html.ValidationMessageFor(x => x.NewPassword)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                </div>
                                <div id="password-error">@Html.ValidationMessageFor(x => x.ConfirmPassword)</div>
                            </div>
                        </div>

                    </div>
                    <div class="foot">
                        <button class="btn btn-primary" id="ResetPassword" data-dismiss="modal" type="button">submit</button>

                    </div>
                </form>
}
            </div>
        </div>
        <div class="text-center out-links"><a href="#">&copy; Copyright @DateTime.Now.Year Xicom, Inc. All Rights Reserved</a></div>
    </div>

</div>
@section scripts{
    <script src="~/Scripts/AdminScripts/login.js"></script>

<script type="text/javascript">
        var siteUrls = {
            loginUrl: "@Url.Action("Login", "Home", new { area = "Admin" })",
            forgotPasswordUrl: "@Url.Action("ForgotPassword", "User", new { area = "Admin" })",
            dashboard: "@Url.Action("Dashboard", "Home", new { area = "Admin" })"
        };
</script>
}
