@model ResetPassword
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Areas/Admin/Views/Shared/_beforeLoginAdminLayout.cshtml";
}

<link href="~/Content/themes/jquery.gritter/css/jquery.gritter.css" rel="stylesheet" />

<div class="login-box wc-login-box">
    <div class="login-logo">
        <a href="/"><b>Admin</b>SNAP</a>
    </div>
    <div class="login-box-body wc-login-box-body">

        <h2 style="color:#333; padding-bottom:0; font-size:32px;">Reset Password</h2>

        <section class="inner-banner" style="background:none; padding-bottom:0;"></section>
        @if (Model.Status == (int)AccountToken.Valid)
        {
            <form class="register-form" action="@Url.Action("ResetPassword", "Account", new { area = "Admin" })" method="post">
                @Html.HiddenFor(x => x.Code)
                <div class="form-group">
                    <label>Password:</label>
                    @Html.PasswordFor(x => x.NewPassword, new { @required = true, @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(x => x.NewPassword)

                    <div class="password-popup"></div>

                </div>
                <div class="form-group">
                    <label> Confirm Password:</label>
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                </div>
                <div class="form-group">
                    <input type="submit" value="submit" id="ResetPassword" class="btn btn-primary btn-block btn-flat" />
                </div>
            </form>
        }
        else if (Model.Status == (int)AccountToken.Expired)
        {
            <div class="expired-form">
            <div class="token_message">
                Your token has been expired.
            </div>
            <a class="btn btn-primary" href="@Url.Action("Index", "Account")" id="" data-dismiss="modal">Back</a>
            </div>
        }
        else
        {
            <div class="verified-form ">
                <div class="token_message">
                    You have successfully Changed your password. Please login on the App to continue.
                </div>
                <a class="btn btn-primary" href="@Url.Action("Index", "Account")" id="" data-dismiss="modal">Back</a>
            </div>
        }
        <div class="text-center out-links"><a href="#">© Copyright @DateTime.UtcNow.Year SNAP, Inc. All Rights Reserved</a></div>
    </div>
</div>

@section scripts{}