@model UserDetailModel
@{
    ViewBag.Title = "Add User Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Edit User</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-content">
                            <form class="m-t" id="UpdateDishForm">
                                @Html.HiddenFor(x => x.UserID)
                                <div class="filter col-md-12">
                                    <label class="control-label">First Name</label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                                    </div>
                                    <div class="input-group validationError">
                                        @Html.ValidationMessageFor(x => x.FirstName)
                                    </div>
                                </div>

                                <div class="filter col-md-12">
                                    <label class="control-label">Last Name</label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                                    </div>
                                    <div class="input-group validationError">
                                        @Html.ValidationMessageFor(x => x.LastName)
                                    </div>
                                </div>

                                <div class="filter col-md-12">
                                    <label class="control-label">Email</label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                                    </div>
                                    <div class="input-group validationError">
                                        @Html.ValidationMessageFor(x => x.Email)
                                    </div>
                                </div>

                                <div class="row">
                                    <br />
                                    <div class=" col-md-6">
                                        <div class="col-sm-offset-4 col-sm-8">
                                            <input type="button" class="btn btn-primary" id="UpdateUserBtn" value="Submit" />
                                            <a href="@Url.Action("ManageUsers", "User", new { area = "Admin" })" class="btn btn-default">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <br />
                        <br />
                        @if (Model.RoleId == (int)UserRoleTypes.Mother)
                        {
                            <div class="ibox-content">
                                @{Html.RenderAction("_AddDishPartial", "User");}

                                @if (Model.RoleId == (int)UserRoleTypes.Mother)
                                {
                                    <div class="filter col-md-12">
                                        <label class="control-label">Mother Dish (Atleast 3 Recommended)</label>
                                        <div class="input-group">
                                            <div class="col-md-6">
                                                <table class="table table-striped table-bordered table-hover dataTables-example" id="MotherDishListing">
                                                    <thead>
                                                        <tr>
                                                            <td>
                                                                Image
                                                            </td>
                                                            <td>
                                                                Dish
                                                            </td>
                                                            <td>
                                                                Action
                                                            </td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @Html.Partial("Partials/_MotherDishListing", Model.MotherDishList)
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    @*<div>
                                        <div id="gritter-notice-wrapper"><div id="gritter-item-38" class="gritter-item-wrapper clean" style="" role="alert"><div class="gritter-top"></div><div class="gritter-item"><a class="gritter-close" href="#" tabindex="1">Close Notification</a><div class="gritter-without-image"><span class="gritter-title"><strong>Success!</strong></span><p>abc</p></div><div style="clear:both"></div></div><div class="gritter-bottom"></div></div><div id="gritter-item-39" class="gritter-item-wrapper clean" style="" role="alert"><div class="gritter-top"></div><div class="gritter-item"><a class="gritter-close" href="#" tabindex="1">Close Notification</a><div class="gritter-without-image"><span class="gritter-title"><strong>Success!</strong></span><p>abc</p></div><div style="clear:both"></div></div><div class="gritter-bottom"></div></div><div id="gritter-item-40" class="gritter-item-wrapper clean" style="" role="alert"><div class="gritter-top"></div><div class="gritter-item"><a class="gritter-close" href="#" tabindex="1">Close Notification</a><div class="gritter-without-image"><span class="gritter-title"><strong>Success!</strong></span><p>abc</p></div><div style="clear:both"></div></div><div class="gritter-bottom"></div></div><div id="gritter-item-41" class="gritter-item-wrapper clean" style="" role="alert"><div class="gritter-top"></div><div class="gritter-item"><a class="gritter-close" href="#" tabindex="1">Close Notification</a><div class="gritter-without-image"><span class="gritter-title"><strong>Success!</strong></span><p>abc</p></div><div style="clear:both"></div></div><div class="gritter-bottom"></div></div><div id="gritter-item-42" class="gritter-item-wrapper clean" style="" role="alert"><div class="gritter-top"></div><div class="gritter-item"><a class="gritter-close" href="#" tabindex="1">Close Notification</a><div class="gritter-without-image"><span class="gritter-title"><strong>Success!</strong></span><p>abc</p></div><div style="clear:both"></div></div><div class="gritter-bottom"></div></div><div id="gritter-item-43" class="gritter-item-wrapper clean" style="" role="alert"><div class="gritter-top"></div><div class="gritter-item"><a class="gritter-close" href="#" tabindex="1">Close Notification</a><div class="gritter-without-image"><span class="gritter-title"><strong>Success!</strong></span><p>abc</p></div><div style="clear:both"></div></div><div class="gritter-bottom"></div></div></div>
                                    </div>*@
                                    
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/AdminScripts/users.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            App.init();
        });
    </script>
}