@model PagingResult<CategoryListingModel>

    @if (Model.List != null && Model.List.Count > 0)
    {
        foreach (var item in Model.List)
        {
            <tr class="odd gradeX">
                <td>@item.Name</td>
                <td> @item.Description</td>
                <td>
                    @item.CreatedDate
                </td>
                <td class="center">
                    <a class="btn btn-primary btn-xs" href="@Url.Action("EditCategory", "Category", new { area = "Admin", Id = @item.Id })" 
                       data-original-title="Edit" data-toggle="tooltip"><i class="fa fa-pencil"></i>
                    </a> 
                
                    <a data-categoryid="@item.Id" class="btn btn-danger btn-xs deleteCategory" href="javascript:void(0);"
                       data-original-title="Remove" data-toggle="tooltip">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr class="odd gradeX">
            <td colspan="4">No Record Found</td>
        </tr>
    }


