@model PagingModel

@Html.HiddenFor(x => x.SortBy)
@Html.HiddenFor(x => x.SortOrder)


<div class="">
    <div class="srch-filter ">
        <div class="filter col-md-3 fit">
            <label class="control-label">Show Records</label>
            <select class="form-control filter-select input-sm" id="showRecords">
                <option value="10" selected="selected">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>

            </select>
        </div>
        <div class="filter col-md-3 ">
            <label class="control-label">Search</label>
            <div class="input-group">
                <span class="input-group-addon green-search btn-primary btnFilterProviders">
                    <i class="fa fa-search white-search"></i>
                </span>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control filter-textbox input-sm", placeholder = "Enter Employee Name" })
            </div>
        </div>
        @*<div class="filter col-md-3 ">
            <label class="control-label">Search</label>
            <div class="input-group">
                <span class="input-group-addon green-search btn-primary btnFilterProviders">
                    <i class="fa fa-search white-search"></i>
                </span>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control filter-textbox input-sm", placeholder = "Enter Email" })
            </div>
        </div>*@
        @*<div class="filter col-md-3">
            <label class="control-label">Filter Records</label>
            @Html.DropDownListFor(x => x.Type, (IEnumerable<SelectListItem>)ViewBag.GetAdminApprovalTypes, "--Select--", new { @class = "form-control filter-select input-sm" })
        </div>*@
        @*<div class="filter col-md-3">
            <label class="control-label">Filter Profile Information</label>
            <select class="form-control filter-select input-sm" data-val="true" data-val-number="The field Type must be a number." data-val-required="The Type field is required." id="SearchType" name="SearchType">
                <option value="">--Select--</option>
                <option value="1">Completed</option>
                <option value="2">Uncompleted</option>
            </select>
        </div>*@
        <div class="filter col-md-2">
            <label class="control-label displayBlock">&nbsp;</label>
            <input type="button" value="Search" class="btn btn-primary btn-sm btnFilterEmployees" id="btnFilterEmployees" />
            <input type="button" value="Reset  " id="btnResetSearch" class="btn btn-primary btn-sm" />
        </div>
    </div>
</div>
